<p>personne works!</p>

<p>{{personneAngular | json}}</p>
<p>{{personneAngular.personne_nom}}</p>

<ul *ngFor="let personneListe of listePersonneArray" id="myUL">
    <a href="{{api_url_api}}{{personneListe.personne_id}}">{{personneListe.personne_nom}} {{personneListe.personne_prenom}}</a>
</ul>


